hello-world/
csc1010_w2p1/
mid-term-assignment/target/
project-1-encryption-tool/target/
project-1-encryption-tool/ciphertext.bin
project-1-encryption-tool/encrypted.bin
project-1-encryption-tool/decrypted.txt
project-1-encryption-tool/plaintext.txt
project-1-encryption-tool/images/
project-1-encryption-tool/private_key.pem
project-1-encryption-tool/public_key.pem
project-1-encryption-tool.rar
project-2/target/
project-2/Project 02 - Advanced Scripting.docx
project-2/Project Requirement w4_p2.pdf
project-2.rar