hello-world/
csc1010_w2p1/
project-1-encryption-tool/target/
project-1-encryption-tool/ciphertext.bin
project-1-encryption-tool/encrypted.bin
project-1-encryption-tool/decrypted.txt
project-1-encryption-tool/plaintext.txt
project-1-encryption-tool/private_key.pem
project-1-encryption-tool/public_key.pem